<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top">
        <div class="container">
            <a class="navbar-brand mr-5" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#main">MAIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">WORK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT</a>
                    </li>
                </ul>
                <a class="mr-3" href="#">SIGN UP</a>
                <a href="/login">LOGIN</a>
            </div>
        </div>
    </nav>

    <div class="content">
        <div id="main" class="section-1">
            <div class="container">
                <h1 class="text-center">PLAY TRADITIONAL GAME</h1>
                <h3 class="text-center">Experience new traditional game play</h3>
                <div class="row mt-5">
                    <a href="/game" class="mx-auto"><button type="button" class="btn px-5 py-2">PLAY NOW</button></a>
                </div>
                <p class="text-center story">The story</p>
                <div class="text-center pb-3"><i class="fas fa-caret-down"></i></div>
            </div>
        </div>

        <div class="section-2">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>What’s so special?</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h1>THE GAMES</h1>
                    </div>
                    <div class="col-lg-6">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                              <li data-target="#myCarousel" data-slide-to="1"></li>
                              <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="bd-placeholder-img" src="img/item-gameplay.png" alt="item-gameplay" width="100%" height="100%">
                                
                                <div class="container">
                                  <div class="carousel-caption text-left"></div>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img class="bd-placeholder-img" src="img/item-gameplay.png" alt="item-gameplay" width="100%" height="100%">
                        
                                <div class="container">
                                  <div class="carousel-caption"></div>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img class="bd-placeholder-img" src="img/item-gameplay.png" alt="item-gameplay" width="100%" height="100%">
                        
                                <div class="container">
                                  <div class="carousel-caption text-right"></div>
                                </div>
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="features" class="section-3">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-5">
                        <h3>What’s so special?</h3>
                        <h1 class="mb-5">FEATURES</h1>

                        <p class="feature">TRADTIONAL GAMES</p>
                        <p>If you miss your childhood, we provide many traditional games here</p>
                        <p class="feature">GAME SUIT</p>
                        <p class="feature">TBD</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="requirements" class="section-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>SYSTEM REQUIREMNTS</h1>
                    </div>
                    <div class="col-lg-6">
                        <h3>Can My Computer Run this game?</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <table border="1">
                                <tr>
                                    <td class="p-2">
                                        <p class="feature">OS:</p>
                                        <p>Windows 7 64-bit only (No OSX support at this time)</p>
                                    </td>
                                    <td class="p-2">
                                        <p class="feature">PROCESSOR:</p>
                                        <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-2">
                                        <p class="feature">MEMORY:</p>
                                        <p>4 GB RAM</p>
                                    </td>
                                    <td class="p-2">
                                        <p class="feature">STORAGE:</p>
                                        <p>8 GB available space</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="p-2">
                                        <p class="feature">GRAPHICS:</p>
                                        <p>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-5">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h1>TOP SCORES</h1>
                        <p>This top score from various games provided on this platform</p>
                        <button type="button" class="btn">SEE MORE</button>
                    </div>
                    <div class="col-6"></div>
                </div>
            </div>
        </div>

        <div class="section-6">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <img id="img-newslatter" src="img/item-newslatter.png" alt="item-newslatter" width="70%">
                    </div>
                    <div class="col-lg-6">
                        <h3 class="mt-5">Want to stay in touch?</h3>
                        <h1>NEWSLETTER SUBSCRIBE</h1>
                        <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
                        <div class="row">
                            <div class="col">
                                <div class="bg-grey">
                                    <p class="placeholder">Your email address</p>
                                    <p class="email">youremail@binar.co.id</p>
                                </div>
                            </div>
                            <div class="col">
                                <button type="button" class="btn px-5 py-3">SUBSCRIBE NOW</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-right">
                    <li id="footer-menu">
                        <ul><a href="#main">MAIN</a></ul>
                        <ul><a href="#">ABOUT</a></ul>
                        <ul><a href="#features">GAME FEATURES</a></ul>
                        <ul><a href="#requirements">SYSTEM REQUIREMENTS</a></ul>
                        <ul><a href="#">QUOTES</a></ul>
                    </li>
                </div>
                <div id="sosial" class="col-lg-4 text-right">
                    <li>
                        <ul><a href="#"><img src="img/facebook.svg" alt="facebook"></a></ul>
                        <ul><a href="#"><img src="img/twitter.svg" alt="twitter"></a></ul>
                        <ul><a href="#"><img src="img/youtube.svg" alt="youtube"></a></ul>
                        <ul><a href="#"><img src="img/twitch.svg" alt="twitch"></a></ul>
                    </li>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <p class="copyright">&copy; 2018 Your Games, Inc. All Rights Reserved</p>
                </div>
                <div class="col-lg-6">
                    <p class="privacy">Privacy Policy | Terms of Services | Code of Conduct </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/f72eda4444.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>