<!DOCTYPE html>
<html>
<head>
    <title>Users | All</title>
</head>
<body>
    <% users.forEach(user => { %>
        <div>
            <h1><%= user.username %></h1>
            <p><%= user.UserBiodatum.address %></p>
            <a href="/users/<%= user.id %>">lihat detail</a>
        </div>
    <% }) %>
</body>
</html>