<!DOCTYPE html>
<html>
<head>
    <title>Users | <%= user.username %></title>
</head>
<body>
    <div>
        <h1><%= user.username %></h1>
        <p><%= user.UserBiodatum.name %></p>
        <p><%= user.UserBiodatum.phone %></p>
        <p><%= user.UserBiodatum.address %></p>
        <a href="/users/<%= user.id %>/edit">edit</a>
        <form action="/users/<%= user.id %>/delete" method="POST" style="display: inline-block;">
            <input type="submit" value="delete">
        </form>
    </div>
</body>
</html>